@model IEnumerable<RecipeBook.Models.Recipe>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Recipe List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Recipe" asp-action="Create" class="btn btn-primary">
                Create New Recipe
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Instruction...
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%">@obj.Title</td>
                        <td width="30%">@obj.ImagePath</td>
                        <td class="text-center btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-key="@obj.Id" class="btn btn-primary">
                                Edit
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-key="@obj.Id" class="btn btn-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>No category exists</h3>
    }
</div>